<div class="row">
  <div class="col-xs-12">
    <form #shoppingForm="ngForm" (ngSubmit)="addOrUpdateShoppingListItem()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" 
                 id="name" 
                 class="form-control" 
                 name="name" 
                 ngModel 
                 #nameInput
                 required/>
          <!--<span *ngIf="!nameInput.valid && nameInput.touched"> Item name is required </span>-->
        </div>
        <div class="col-sm-2 form-group">
          <label for="quantity">Quantity</label>
          <input type="number" 
                 id="quantity" 
                 class="form-control" 
                 name="quantity"  
                 ngModel 
                 #quantityInput
                 required
                 pattern="^[1-9]+[0-9]*$"/>
          <!--<span *ngIf="!quantityInput.valid && quantityInput.touched"> Quantity is required </span>-->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button 
            class="btn btn-success" 
            type="submit"
            [disabled]="!shoppingForm.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDeleteClick()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClearClick()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>